<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
    <title>Series | iPic</title>
  </head>
  <body>
    <%- include ('../../partials/header') %>

    <main>
      <section>
        <a class="link" href="/series/overview">Back</a>

        <a href="/series/detail/<%- series._id%>/slideshow">Slideshow</a>
        <a href="/series/detail/<%- series._id%>/carousel">Carousel</a>

        <h1><%= series.titleSerie %></h1>

        <ol>
          <% if(series.images.length > 0){ %> 
            <% for (let i = 0; i < series.images.length; i++) { %>
            <li>
              <a href="/photos/<%= series.images[i]%>">
              <figure>
                <figure>
                  <img src="/uploads/<%=series.images[i]%>" />
                </figure>
                <figcaption><%=series.images[i]%></figcaption>
              </figure>
            </a>
            </li>
            <% } %>
            <% }else { %>

          <p>No photos in this serie yet 🙁</p>
          <a href="/upload">Upload photos</a>
          <% }%>
        </ol>

        <a href="">Edit</a>
        <a href="">Delete</a>
      </section>
    </main>

    <%- include ('../../partials/footer') %>
  </body>
</html>
