<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
    <title>Series | iPic</title>
  </head>
  <body>
    <%- include ('../../partials/header') %>

    <main>
      <section id="series-detail">
        <a class="link" href="/series/overview">Back</a>

        <a class="link" href="/series/detail/<%- series._id%>/slideshow"
          >Play slideshow</a
        >
        <!-- <a href="/series/detail/<%- series._id%>/carousel">Carousel</a> -->

        <h2><%= series.titleSerie %></h2>

        <% if(series.images.length > 0){ %> <% for (let i = 0; i <
        series.images.length; i++) { %>
        <article>
          <a href="/photos/<%= series.images[i]%>">
            <figure>
              <img src="/uploads/<%= images[i].image%>" alt="" width="300" />
              <figcaption><%=images[i].title%></figcaption>
            </figure>
          </a>
        </article>
        <!-- <form action="/series/detail/<%=images[i]._id%>/deleteImage" method="POST">
          <button type="submit">Delete from serie</button>
        </form> -->
        <% } %> <% }else { %>

        <p>No photos in this serie yet 🙁</p>
        <a href="/upload">Upload photos</a>
        <% }%>

        <form method="POST">
          <button
            formaction="/series/detail/<%= series._id%>/remove"
            type="submit"
            class="deleteBtn"
          >
            Delete this serie
          </button>
        </form>
      </section>
    </main>

    <%- include ('../../partials/footer') %>
  </body>
</html>
