<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
    <title>Series | iPic</title>
  </head>
  <body>
    <%- include ('../../partials/header') %>

    <main>
      <section>
        <a class="link" href="/series/overview">Back</a>

        <a href="/series/detail/<%- data.idSerie%>/show">Show serie in style</a>

        <h1><%= data.titleSerie %></h1>

        <ol>
          <% if(data.images.length > 0){ %> 
            <% for (let i = 0; i < data.images.length; i++) { %>
            <li>
              <figure>
                <figure>
                  <img src="/uploads/<%=data.images[i]%>" />
                </figure>
                <figcaption><%=data.images[i]%></figcaption>
              </figure>
            </li>
            <% } %>
            <% }else { %>

          <p>No photos in this serie yet 🙁</p>
          <a href="/upload">Upload photos</a>
          <% }%>
        </ol>

        <a href="">Edit</a>
        <a href="">Delete</a>
      </section>
    </main>

    <%- include ('../../partials/footer') %>
  </body>
</html>
