<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../partials/head') %>
    <title>New Serie | iPic</title>
  </head>
  <body>
    <%- include ('../../partials/header') %>

    <main>
      <section id="series-new">
        <h2>New Serie</h2>

        <form action="/series/new" method="POST">
          <fieldset>
            <legend>Info about the photo</legend>

            <% if(images.length > 0){ %>
            <label for="titleSerie"
              >Title serie
              <input
                id="titleSerie"
                name="titleSerie"
                type="text"
                placeholder="e.g. Holiday 2019"
              />
            </label>

            <p>Choose images</p>
            <div id="imagePicker">
              <% images.forEach(({image, title, description, photographer,
              location, _id}) => { %>

              <label for="<%- _id%>">
                <input
                  type="checkbox"
                  value="<%- _id%>"
                  name="selectedPhotos"
                  id="<%- _id%>"
                />
                <p><%= title%></p>
                <figure>
                  <img
                    src="/uploads/<%= image%>"
                    alt="<%- title%>"
                    class="imageSeries"
                  />
                </figure>
              </label>

              <% }) %>
            </div>
            <% }else{ %>
            <p class="errorMessage">You have no photos yet 🙁</p>
            <a href="/upload" class="link">Add photo</a>
            <% }%>

            <!-- <h3>Order pics</h3>
          <p>HTML tags - ?</p> -->

            <button type="submit">Save serie</button>
          </fieldset>
        </form>
      </section>
    </main>

    <%- include ('../../partials/footer') %>
  </body>
</html>
