<head>
  <%- include ('../../partials/head') %>
  <title>Photos | iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>
  <main>
    <section>
      <a href="/photos">Back</a>
      <form action="/photoDelete" method="POST">
        <fieldset>
          <legend>Info photo</legend>
          <figure>
            <img
              src="/uploads/<%= data.image%>"
              alt="<%=data.title%>"
              width="300"
            />
          </figure>
          <h2><%= data.title%></h2>

          <p editable>Description: <%= data.description%></p>
          <p>Photographer: <%= data.photographer%></p>
          <p>Location: <%= data.location%></p>

          <button type="button">Delete</button>
          <button type="button">Edit</button>
        </fieldset>
      </form>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
