<head>
  <%- include ('../../partials/head') %>
  <title>Photos | iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>

  <main>
    <section id="photos-overview">
      <h1>All photos</h1>
      <ol>
        <% if(data.length > 0){ %> <% data.forEach(({image, title, description,
        photographer, location, _id}) => { %>
        <li>
          <a href="/photos/<%=_id%>">
            <figure>
              <img src="uploads/<%=image%>" alt="<%=title%>" width="100px"/>
              <figcaption><%= title %></figcaption>
            </figure>
          </a>
        </li>
        <% }) %> <% }else{ %>
        <p>No photos yet 🙁</p>
        <% }%>
      </ol>
      <a class="link" href="/upload">Add photo</a>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
