<head>
  <%- include ('../../partials/head') %>
  <title>Photos | iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>

  <main>
    <section>
      <h1>All photos</h1>
      <a href="/">Back</a>
      <ol>
        <% if(photosArray.length > 0){ %>

          <% photosArray.forEach(({photo, title, altText, description, photographer, location, idPhoto}) => { %>
          <li>
            <a href="/photos/<%= idPhoto %>">
              <img src="<%= photo %>" alt="" />
              <p><%= title %></p>

           </a>
          </li>
          <% }) %> 
          
          <% }else{ %>
          <p>No photos yet 🙁</p>
          <% }%>
      </ol>
      <a href="/upload">Add photos</a>
      <a href="/series/new">Create serie</a>
      <a href="/series/overview">Series</a>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
