<head>
  <%- include ('../../partials/head') %>
  <title>Photos | iPic</title>
</head>
<body>
  <%- include ('../../partials/header') %>

  <main>
    <section>
      <h1>All photos</h1>
      <a href="/">Back</a>
      <ol>
        <% if(data.length > 0){ %> <% data.forEach(({image, title, description,
        photographer, location, _id}) => { %>
        <li>
          <a href="/photos/<%=_id%>">
            <figure>
              <img src="uploads/<%=image%>" alt="<%=title%>" />
              <figcaption><%= title %></figcaption>
            </figure>
          </a>
        </li>
        <% }) %> <% }else{ %>
        <p>No photos yet 🙁</p>
        <% }%>
      </ol>
      <a href="/upload">Add photo</a>
      <a href="/series/new">Create serie</a>
      <a href="/series/overview">Series</a>
    </section>
  </main>

  <%- include ('../../partials/footer') %>
</body>
