<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../../../partials/head') %>
    <title>Series | iPic</title>
  </head>
  <body>
    <%- include ('../../../partials/header') %>

    <main>
      <section>
        <a class="link" href="/series/detail/<%= series._id%>">Back</a>

        <section class="slideshow">
          <div class="slideshow--content">
            <% if(images.length){ %>
              <% for (let i = 0; i < images.length; i++) { %>
            <figure class="slideshow--content__figure">
              <img
                src="/uploads/<%- images[i].image%>"
                ,
                alt="alt-text"
                class="slideshow--content__figure__image"
              />
              <p><%= images[i].image%></p>
              <figcaption
                class="slideshow--content__figure__description"
              ></figcaption>
            </figure>
            <% } %> <% } else{ %> 
              <p>You have no photos in this serie</p>
              <a href="">Delete serie</a>
              <% } %>
          </div>
          <button id="prev">&#10094;</button>
          <button id="next">&#10095;</button>
        </section>

        <a href="">Edit</a>
        <a href="">Delete</a>
      </section>
    </main>

    <%- include ('../../../partials/footer') %>
  </body>
</html>
